<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="h-screen w-full bg-[#faf9f6] " >
    <div class="h-[50vh] w-full flex justify-center border-b-2 border-red-500 items-center">
      <h1 class="text-gray-500 text-6xl font-bold">B-LOG</h1>
    </div>

    <div class=" w-full container mx-auto grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-5 " >
      <div class="w-full flex flex-col border-gray-400 bg-green-300 p-3 h-[200px] justify-around rounded-md">
        <div>
          <div class="">
          <h1 class="text-2xl font-bold mb-2"> TITLE </h1>
        </div>
        <div>
          <p>
            desisdfg
            dfgjkdf dfndfkjvndfjnvkjdfnvehbvcdv ekhfbnd dbckhd 
          </p>

        </div>
      </div>
        <span class="pi pi-user floa"> Nishank</span>
      </div>

    </div>

  </div>
</body>
</html>